<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kales From The Crypt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- <div id="page-container">
          <div id="content-wrap"> -->
    <header>
      <nav>
        <section id="recipeindexnav">
            <div class="home"> <a href="/"> &#9760; Home  &nbsp; </a> </div>
      <div id="recipeindexlogin" ><a href="/auth/google" class="login">
        <%if(user){%>
          <a href="/logout"><img src="https://i.imgur.com/mcZoLHA.png"></a>
        <% } else { %>
          <img src="https://i.imgur.com/yYJh1b5.png">
        <% } %>
        </a>
  </div>
        </nav>
          
    </header>
    
    <main>
<div>
<section id="show-page">
    <div>Title: </div>
    <div><%= recipe.title %></div>
    <div>Description</div>
    <div><%= recipe.description %></div>
    <div><img src = "<%= recipe.imageUrl %>"img style='height: 100%; width: 100%; object-fit: contain'/></div> 
    <div>Ingredients </div>
    <div><%= recipe.ingredients %></div> <br>
    <div>Instructions: </div>
    <div><%= recipe.instructions %></div> <br>
    <div>User:</div>
    <div><%= recipe.user.email %></div>
    <div>Recipe Created By:</div>
    <div><img src = "<%= recipe.user.avatar %>"></div>
    <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
    <br><br><h2>Reviews</h2>

<% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/recipes/<%= recipe._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>

<% if (recipe.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let sum = 0; %>
      <% recipe.reviews.forEach(function(r) { %>
        <% sum += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.user.avatar %>" alt="avatar" referrerpolicy="no-referrer"><%= r.user.email %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if ( user.equals(r.user) ) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><%= (sum / recipe.reviews.length).toFixed(2) %></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>






    
   </section>
</div>

  </main>
</body>
</html>